name: CI-CD-Deploy

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Train model
      run: python train.py

    - name: Test model
      run: python test_model.py

    - name: Build Docker image
      run: docker build -t iris-app .
